<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Catalog app</title>
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
		<link rel="icon" href="data:,">
	</head>
	<body>
		<div class="centered">
			<div class="header">
				<h1>CATALOG</h1>
			</div>
			<div class="horizontal">
				<div class="menu">
				</div>
				<div class="display">
				</div>
				<div class="display">
				</div>
				<div class="menu">
				</div>
			</div>
		</div>
	</body>
</html>
