<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Catalog app</title>
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
		<link rel="icon" href="data:,">
	</head>
	<body>
		<div class="centered">
			<div class="header">
				<div class="horizontal">
					<a href="/" class="title">
						CATALOG
					</a>
					<div class="login_box">
						<div class="login_info">
							{% if is_logged_in %}
								Logged in as {{user_name}}
							{% else %}
								Not logged in
							{% endif%}
						</div>
						<div class="login_button_box">
							{% if is_logged_in %}
								<a href="/logout/" class="link_button">Logout</a>
							{% else %}
								<a href="/login/" class="link_button">Login</a>
							{% endif%}
						</div>
					</div>
				</div>
				<div class="message_bar">
					{% for message in get_flashed_messages() %}
						{{ message }}
					{% endfor %}
				</div>				
			</div>
			<div class="horizontal">
				<div class="menu">
					<div class="placeholder">
					</div>
					{% block left_menu %}
					{% endblock %}
				</div>
				<div class="display">
					{% block left_display %}
					{% endblock %}
				</div>
				<div class="display">
					{% block right_display %}
					{% endblock %}
				</div>
				<div class="menu">
					<div class="placeholder">
					</div>
					{% block right_menu %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
