{% extends "base.html" %}
{% block menu %}
	<!--
		The category page has a link back to the main page and - if the user owns the category -
		links to the edit the category, delete the category, or add an item.
	-->
	<div class="button_box">
		<a href="/" class="my_button">Main page</a>
	</div>
	{% if is_creator %}
		<div class="spacer"></div>
		<div class="button_box">
			<a href="{{ '/category/edit/%i/'%category['id'] }}" class="my_button">Edit category</a>
		</div>
		<div class="button_box">
			<a href="{{ '/category/delete/%i/'%category['id'] }}" class="my_button">Delete category</a>
		</div>
		<div class="spacer"></div>
		<div class="button_box">
			<a href="{{ '/item/add/%i/'%category['id'] }}" class="my_button">Add item</a>
		</div>
	{% endif %}
{% endblock %}
{% block left_display %}
	<!-- The category page uses the left display area to show the category name and associated items, if any. -->
	<h1>{{ category['name'] }}</h1>
	<h2>Items</h2>
	{% if items %}
		<ul>
			{% for key, value in items.items() %}
				<li class="catalog_item">
					<a href="{{ '/item/view/%i'%key }}" class="item_link">{{ value }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p class="dummy">No items defined yet</p>
	{% endif %}
{% endblock %}
