{% extends "base.html" %}
{% block menu %}
	<div class="button_box">
		<a href="/" class="link_button">Main page</a>
	</div>
{% endblock %}
{% block left_display %}
	<h1>Category</h1>
	<h2>Name</h2>
	<form action="{{ '/category/delete/%i/'%category['id'] }}" method="post">
		<input class="input_field" type="text" disabled name="name" value="{{ category['name'] }}">
		<div class="placeholder"></div>
		<button class="submit_button" type="submit" name="button" value="submit">Delete category</button>
		<p class="footnote">Deleting the category will also delete all associated items.</p>
	</form>
{% endblock %}
