{% extends "base.html" %}
{% block menu %}
	<div class="button_box">
		<a href="/" class="my_button">Main page</a>
	</div>
{% endblock %}
{% block left_display %}
	<h1>Category</h1>
	<form action="/category/add/" method="post">
		<h2>Name</h2>
		<input class="input_field" type="text" required name="name" placeholder="New category">
		<div class="spacer"></div>
		<button class="my_button" type="submit" name="button" value="submit">Add category</button>
		<input type="hidden" name="state" value="{{ state }}">
	</form>
{% endblock %}
