{% extends "base.html" %}
{% block menu %}
	<!--
		The item page has links back to the main page and category page. If the user owns the item,
		there are also links to edit or delete it.
	-->
	<div class="button_box">
		<a href="/" class="my_button">Main page</a>
	</div>
	<div class="button_box">
		<a href="{{ '/category/view/%i'%category['id'] }}" class="my_button">Category page</a>
	</div>
	{% if is_creator %}
		<div class="spacer"></div>
		<div class="button_box">
			<a href="{{ '/item/edit/%i/'%item['id'] }}" class="my_button">Edit item</a>
		</div>
		<div class="button_box">
			<a href="{{ '/item/delete/%i/'%item['id'] }}" class="my_button">Delete item</a>
		</div>
	{% endif %}
{% endblock %}
{% block left_display %}
	<!-- The left display on the item page shows the item's name, category, and description. -->
	<h1>{{ item['name'] }}</h1>
	<h2>Category</h2>
	<p class="catalog_item">{{ category['name'] }}</p>
	<h2>Description</h2>
	<p class="catalog_item">{{ item['description'] }}</p>
{% endblock %}
