{% extends "base.html" %}
{% block menu %}
	<div class="button_box">
		<a href="/" class="my_button">Main page</a>
	</div>
	<div class="button_box">
		<a href="{{ '/category/view/%i'%category['id'] }}" class="my_button">Category page</a>
	</div>
	{% if is_creator %}
		<div class="spacer"></div>
		<div class="button_box">
			<a href="{{ '/item/edit/%i/'%item['id'] }}" class="my_button">Edit item</a>
		</div>
		<div class="button_box">
			<a href="{{ '/item/delete/%i/'%item['id'] }}" class="my_button">Delete item</a>
		</div>
	{% endif %}
{% endblock %}
{% block left_display %}
	<h1>{{ item['name'] }}</h1>
	<h2>Category</h2>
	<p class="catalog_item">{{ category['name'] }}</p>
	<h2>Description</h2>
	<p class="catalog_item">{{ item['description'] }}</p>
{% endblock %}
